# These are needed for AutoPkg custom processor WorkSpaceOneImporter
# install using
# sudo -H --preserve-env=http_proxy,https_proxy,PIP_CERT /Library/AutoPkg/Python3/Python.framework/Versions/Current/bin/pip3 install -r AutoPkg/AutoPkg-WS1/requirements.txt

# latest tested and known good
urllib3==2.6.3

# latest tested and known good
requests==2.32.5

# latest tested and known good
requests-toolbelt==1.0.0

# latest tested and known good
pyyaml==6.0
